@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto&family=Stylish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ysabeau+SC:wght@1;100;200;300;400;500;600;700;800;900;1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap:wght@100;200;300;400&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* ===================== */

/* ===================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  min-width: 100%;
  min-height: auto;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  color: var(--body-color);
  background-color: var(--background-color);
  transition: color 0.25s, background-color 0.25s;
  overflow-x: hidden;
  background-color: #f1f6f9;
}

/* THEME DARK / LIGHT CSS START HERE  */
a {
  text-decoration: none;
  color: #fff;
}

/* NAVIGATION CSS START HERE */
.primary-header {
  position: fixed;
  top: 0%;
  left: 0;
  z-index: 999;
  width: 100%;
  transition: background-color 0.5s;
  color: #fff;
}
.register {
  max-width: 120rem;
  margin-inline: auto;
  padding-inline: 3.5rem;
}
.primary-header .navbar {
  height: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(255, 255, 255, 0.05);
  transition: height 0.25s;
}
/* .navbar img {
  height: 50px;
  width: 200px;
} */
@media (max-width: 768px) {
  #navbarSupportedContent {
    margin-top: 30px;
    width: 100%;
    height: 500px;
    /* background-color:#ffffffa3 ; */
    background: rgba(0 0 0 /10%);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    /* text-shadow: 1px 1px grey; */
    padding: 20px;
  }
  .navbar .button {
    color: #151515;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    margin-top: 20px;
  }
}
.navbar a {
  font-size: 24px;
  text-align: center;
}
.navbar ul li a {
  color: #313131;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
.navbar .button {
  color: #151515;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}
.navbar-brand {
  font-size: 2.7rem;
  font-weight: 900;
  color: #313131;
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 2.5rem;
  margin-left: 5rem;
  margin-right: auto;
}
.nav-link {
  transition: color 0.25s;
}
.nav-list.nav-link a {
  color: #fff;
}
.nav-link:hover {
  color: #d3d3d3;
}
.navbar-toggler {
  background-color: #ffffffa3;
  height: 3rem;
  width: 4rem;
}
header.active {
  background-color: #151823;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
}
header.active .navbar {
  height: 6rem;
}
header .button {
  display: inline-block;
  background-color: #33ffbb;
  /* color: #101010; */
  color: #fff;
  padding: 8px 20px;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.25s;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
/* header.button:hover,
.button:focus {
  /* background-color: #2ad39f; */
/* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
/* box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; 
}*/
header.active .logo,
header.active .nav-link {
  color: #fff;
}
header.active .nav-link:hover {
  color: #808080;
}
header.active .button {
  background-color: #fff;
  color: #333;
}
header.active .button:hover {
  background-color: #666873;
  color: #fff;
}
/* NAVIGATION CSS ENDS HERE */
/* ======== */
.dropdown-menu {
  height: 280px;
}
.dropdown-menu a {
  color: #000000;
}
.dropdown {
  color: #fff;
}
.dropdown:hover {
  color: #fff;
}
.dropdown ul li a {
  text-decoration: none;
  color: #151515;
  font-weight: 600;
}
.dropdown ul li a:hover {
  color: #fff;
}
.dropdown-item {
  padding: 15.5px;
  font-size: 1.3em;
}
.dropdown-item:hover {
  background-color: #151823a4;
}

/* ======== */

.carousel-inner-top .carousel-item img{
  max-width: 100%;
  height: 800px;
}
@media (max-width:786px){
  .carousel-inner-top .carousel-item img{
    max-width: 100%;
    height: 400px;
  }
  .top-carousel{
    margin-top: 70px;
  }
}

/* ======== */
/* ======== */
.main {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
}
.main .card {
  height: 450px;
}
.main .card .card-title {
  font-size: 24px;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  color: #6e6969;
}
.main .card:hover {
  transform: scale(1.02);
  transition: 0.5s;
  cursor: pointer;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.main .card .btn {
  height: 40px;
  width: 150px;
  outline: none;
  background-color: #151515;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  padding: 7px;
}
.main .card .btn:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
}
/* ================ */
.carousel-inner-001 .carousel-item-001 {
  max-width: 100%;
  overflow: hidden;
}
.carousel-inner-001 .carousel-item-001 img {
  max-width: 100%;
  height: 850px;
  display: block;
}
@media (max-width: 768px) {
  .carousel-inner-001 .carousel-item-001 {
    max-width: 100%;
    overflow: hidden;
  }
  .carousel-inner-001 .carousel-item-001 img {
    max-width: 100%;
    height: 350px;
    display: block;
  }
}
.carousel-caption h4 {
  margin-top: 25rem;
  font-size: 44px;
  font-weight: 700;
  color: #bababa;
  text-shadow: 0 10px -24px 12px gray;
  text-shadow: 2px 2px 4px black, -2px -2px 4px rgb(215, 208, 208);
}
.carousel-caption h1 {
  font-size: 62px;
  color: #bababa;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px black, -2px -2px 4px rgb(215, 208, 208);
}
.picture {
  height: 90vh;
  width: 100%;
  justify-content: center;
  padding: 80px;
}
@media (max-width:786px) {
  .picture{
    height: 60vh;
    width: 100%;
    justify-content: center;
    padding: 10px;
  }
}
/* ============= */
.shop-by h1 {
  margin-top: 80px;
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
@media (max-width:786px) {
  .shop-by h1{
    margin-top: 0px;
  }
}
.main-first-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.image-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.image-container img {
  display: flex;
  flex-direction: row;
  height: 500px;
  width: 400px;
  transition: all ease 0.5s;
}
.image-container img:hover{
  transform: scale(1.1);
}
@media (max-width:786px){
  /* .image-container img{
    padding: 5px;
  } */
  .image-text a{
    margin-bottom: 30px;
    left: 50%; 

  }
}
.image-text a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  color: #333;
  background-color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
}
/* ============= */

.image-1 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}
.image-1 h1 {
  font-size: 48px;
  font-weight: 600;
}

/* =============== */

/* =============== */

#more {display: none;}
#myBtn{
  text-align: center;
  background-color: #333;
  outline-style: none;
  color: #fff;
  height: 50px;
  width: 150px;
  border-radius: 12px;
  margin-left: 42%;
  margin-top: 6%;
}
/* =============== */
.div-puma {
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.div-2-puma {
  height: 600px;
  width: 50%;
  background-color: #585553;
}
.div-2-puma h1 {
  background: linear-gradient(to right, #ffffff, #ffbc81);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 20rem;
  font-size: 2.5em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
.div-2-puma h2 {
  color: #f1f6f9;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5em;
}
.div-2-puma .btn-shop {
  background-color: #2e2d2d;
  color: white;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  margin-top: 20px;
  outline: none;
  justify-content: center;
  margin-left: 35%;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.div-3-puma {
  height: 600px;
  width: 960px;
  background-image: url(./images/pexel\ clothing\ 3.jpg);
}

@media (max-width: 910px) {
  .div-puma {
    height: 600px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .div-2-puma {
    height: 400px;
    width: 100%;
    background-color: #caba9f;
  }
  .div-2-puma h1 {
    background: linear-gradient(to right, #603e20, #aa9685);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 12rem;
    font-size: 2.5em;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
  }
  .div-3-puma {
    background-repeat: no-repeat;
    max-width: 100%;
    height: 400px;
    text-align: center;
  }
}

@media (max-width: 740px) {
  .div-3-puma {
    background-image: url(./images/person\ -\ Copy.jpg);
    background-size: cover;
  }
}
/* ======FOOTER======= */
i {
  font-size: 2.4rem;
}
.footer {
  padding-block: 5rem;
  background-color: #151823;
  color: #666873;
}
.footer__container {
  max-width: 116rem;
  margin: auto;
  padding: 0 1.5rem;
}

.footer__top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  row-gap: 4rem;
}
.footer__title {
  padding: 10px 20px;
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer__list-item {
  list-style: none;
}
.footer__list-link {
  text-decoration: none;
  color: inherit;
  transition: color 0.25s;
}
.footer__list-link:hover {
  color: #fff;
}

.company__info {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-right: 5rem;
}
.company__logo {
  color: #fff;
}
.company__info ul {
  flex-direction: row;
}
.copyright {
  margin-top: auto;
}
@media screen and (min-width: 40em) {
  .company__info {
    grid-column: span 2;
  }
}
